/**
 * Login Configuration for JAAS.
 * Copy this to ~/.java.login.config to use the default
 * kerberos principle for authentication in timberwolf.
 * 
 * More information about JAAS login configuration can be
 * found at:
 * http://docs.oracle.com/javase/1.4.2/docs/guide/security/jaas/tutorials/LoginConfigFile.html
 *
 * Specify that Kerberos v5 is a required login module for the
 * example classes: GssExample and Mutual.
 */

Timberwolf {
   com.sun.security.auth.module.Krb5LoginModule required client=TRUE useTicketCache=true debug=true;
};
