###############################################################
## An example configuration, you can copy this to
## testing.properties in the current directory where you're
## running the tests, most likely the same directory as the
## pom.xml file.
###############################################################

###############################################################
## Necessary for the integration tests that hit an actual hbase
###############################################################
## The ZooKeeper quorum used to connect to HBase.
# ZooKeeperQuorum = hbase.int.test
## The ZooKeeper client port used to connect to HBase.
# ZooKeeperClientPort = 2181


###############################################################
## Necessary for the integration tests that hit an actual
## exchange server
###############################################################
## The URI of the Exchange instance.
# ExchangeURI = https://exchange.int.test/ews/exchange.asmx
## The domain for users
# LdapDomain = int.test
## The config entry to be used from the java login
## configuration usually located at ~/.java.login.config
# LdapConfigEntry = Timberwolf
