<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <param name="Threshold" value="warn"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %c{2} - %m%n"/>
        </layout>
    </appender>

    <appender name="logfile" class="org.apache.log4j.FileAppender">
        <param name="File" value="target/test.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p [%d{HH:mm:ss:SSS}]: %c{2} - %m%n"/>
        </layout>
    </appender>

    <logger name="org.apache.hadoop">
      <level value="warn" />
    </logger>

    <logger name="org.apache.zookeeper">
      <level value="warn" />
    </logger>

    <logger name="com.ripariandata.timberwolf.exchange.UserIterator">
      <level value="error" />
    </logger>

    <!-- ExchangeService and FindFolderIterator are particularly
         chatty during the integration test -->
    <logger name="com.ripariandata.timberwolf.exchange.ExchangeService">
      <!-- set this to trace to see all exchange http traffic -->
      <level value="trace" />
    </logger>

    <logger name="com.ripariandata.timberwolf.exchange.FindFolderIterator">
      <level value="fatal" />
    </logger>

    <logger name="com.ripariandata.timberwolf.exchange.ExchangePump">
        <!-- Set this to 'trace' to see all test-only Exchange http traffic. -->
        <level value="fatal" />
    </logger>

    <logger name="com.ripariandata.timberwolf.hbase.HBaseManager">
        <level value="error" />
    </logger>

    <root>
        <priority value ="debug" />
        <appender-ref ref="console" />
        <appender-ref ref="logfile" />
    </root>

</log4j:configuration>
